<h1>新規作成</h1>

<%= form_with(model: @group, local: true) do |f| %>
  <div class="group-new-form">
    <div class="gtoup-new-form-name">
      <%= f.label :name, 'グループ名' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :introduction, '紹介文' %>
      <%= f.text_field :introduction, class:'form-control' %>
 　<label for="inputImage">Image</label>
   <div>
     <%= attachment_image_tag @group, :image, :fill, 60, 60 %>
  </div>
  <div>
    <%= f.attachment_field :image, placeholder: "画像" %>
  </div>
    </div>
    <%= f.submit '新規作成', class: "btn btn-primary" %>
  </div>
<% end %>