<%= render 'users/user_show', users: @users %>


<!--本の新規投稿-->
<%= render 'books/book_new', book: @book %>

<div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th>メンバー</th>
          <th></th>
        </thead>
        <tbody>
        <tr>
          <td><%= attachment_image_tag(@group, :image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
          <td><%= @group.name %></td>
          <td><%= @group.introduction %></td>
          
          <td><div>
          <% @group.users.each do |member| %>
          <li><%=member.name %></li>
          <% end %></div></td>
          
         
          <!--<td>参加者なし</td>-->
          <!--% else %>-->
          <!--<td>%= @groupUser.user.name %></td>-->
        
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
              <% elsif @group.users.include?(current_user) %>
                <%= link_to 'Leave this group', group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
              <% else %>
                <%= link_to 'Join this group', group_join_path(@group), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
        </tr>
        </tbody>
      </table>
    </div>